{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": false,
	"endOfLine": "lf",
	"printWidth": 120,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all"
}
